$base-color: rgb(46, 45, 45);

body {
    background-color: $base-color;
    
}

.message{
    font-size: small;
    width: 500px;
}

.ChatBox {
    display: flex;
    width: 50%;
    position:relative;
    right: 35px;
}

ul {
    list-style: none;
}